.menu{
    display: grid;
    background: linear-gradient(black,gray);
    color:white;
    grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
    height: 100%;
    padding-left: 0px;
    border-top: 0px;
}
nav a{
    text-decoration: none;
    color: red;

}

nav a:hover{
    color: orange;
}
@keyframes flicker {
    0% { opacity: 1; }
    50% { opacity: 0.4; }
    100% { opacity: 1; }
  }
  
  
  
nav{
    padding: 7px;
    display: inline;
}

h2 i{
    padding: 4px;
    color: white;
}
td i{
    padding: 2px;
    color: red;
}

#menuheading{
    
    font-size: 2.5em;
    color: red;
    display: flex;
    justify-content: center;
    background: linear-gradient(gray,black);
    border-bottom: 0px;
}
table{
    width: 100%;
    padding: 1em;
}
.menu tr{
    display: flex;
    justify-content: center;
    margin-top: .8em;
}
.menu th{
    color: green;
}
.menu td:nth-child(1){
    flex: 1;
    justify-self: left;

}
.menu td:nth-child(2){
    justify-self: right;
}